@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;

  scroll-behavior: smooth;
  color-scheme: dark;
}
html { scroll-padding-top: 64px; }
.test {
  border: 1px solid red;
}

.bg-circuit-board-subtle {
  background-color: #030330;
  position: relative;
  overflow: hidden;
}

.bg-circuit-board-subtle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image:
    repeating-linear-gradient(0deg,
      rgba(128, 128, 128, 0.082),
      rgba(128, 128, 128, 0.02) 1px,
      transparent 1px,
      transparent 6px),
    repeating-linear-gradient(90deg,
      rgba(128, 128, 128, 0.082),
      rgba(128, 128, 128, 0.02) 1px,
      transparent 1px,
      transparent 6px);
  pointer-events: none;
  z-index: 0;
}

.tag-chip {
  z-index: 2;
  background-color: #33334D;
  color: #A0AEC0;
  padding: 4px 10px;
  border-radius: 3px;
  font-family: "Cascadia Code", monospace;
  font-size: 13px;
  border: 1px solid #4A4A66;
  text-shadow: 0px 0px 2px rgba(160, 174, 192, 0.3);
  margin: 2px;
}

.project-card-hardware-border {
  border: 1px solid #303070;
  box-shadow: 0 0 0 2px #0F0F1A,
    inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.project-name-hardware {
  color: #E2E8F0;
  text-shadow: 0 0 5px rgba(170, 166, 195, 0.3);
}


.image-container-hardware img {
  border-top-left-radius: calc(theme(borderRadius.2xl) - 1px);
  border-top-right-radius: calc(theme(borderRadius.2xl) - 1px);
}



.shadow-inner {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

.bg-gradient {
  background: linear-gradient(-90deg, var(#0082fe) 0%, rgba(60, 51, 80, 0) 100%);

  background: -webkit-linear-gradient(-90deg,
      #0D0E0E 0%,
      #0C0A11 45%,
      #241542 78%,
      #000000 100%);
}

.nick-dithered-gradient {
  position: relative;
  font-weight: bold;
  background-image: linear-gradient(5deg, rgb(62, 49, 162) 20%, rgb(155, 81, 165) 40%, rgb(163, 229, 153) 65%);
  background-size: auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.nick-dithered-gradient::before {
  content: attr(data-text);
  position: absolute;
  right: 2px;
  top: 2px;
  color: rgba(62, 49, 162, 0);
  z-index: -1;
  pointer-events: none;
  text-shadow: 0px 0px 3px rgba(62, 49, 162, 1);
}

.nick-dithered-gradient::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/portfolio-site/bayer4x4.png');
  background-size: 8px 8px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.25;
  mix-blend-mode: overlay;
  z-index: 1;
  pointer-events: none;
}

.blinking-cursor-style {
  display: inline-block;
  width: 10px;
  /* Slightly wider for visibility */
  height: 1.2em;
  /* Match text height */
  background-color: #aaa6c3;
  /* secondary color from tailwind.config.js */
  margin-left: 3px;
}

.cli-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.cli-scrollbar::-webkit-scrollbar-track {
  background: #010101;
}

.cli-scrollbar::-webkit-scrollbar-thumb {
  background-color: #505050;
  border: 2px solid #010101;
  border-radius: 0px;
}

.cli-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #707070;
}

.scanlines::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(8, 8, 10, 0.76) 50%,
      rgba(6, 2, 22, 0.308) 50%);
  background-size: 100% 6px;
  z-index: 1;
  pointer-events: none;
  animation: scanlineAnim 120s linear infinite;
}

@keyframes scanlineAnim {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.animated-gradient-bg {
  background: linear-gradient(270deg, #0D0E0E, #1f2222, #0D0E0E);
  /* Adjust colors */
  background-size: 200% 200%;
  animation: subtleGradient 20s ease infinite;
}

@keyframes subtleGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.orange-text-gradient {
  color: #ff7322;
}

.green-text-gradient {
  color: #1edbcc;
}

.blue-text-gradient {
  color: #1481ff;
}

.pink-text-gradient {
  color: #ff1f87;
}